:root {
    --clr-primary: #2D2D2D;
    --clr-secondary: #757575;
    --clr-accent: #A445ED;
    --clr-line: #E9E9E9;
    --clr-input-bg: #F4F4F4;
    --clr-error: #FF5252;
    --bg-light: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: var(--clr-primary);
    background: var(--bg-light);
}
.container {
    width: 90%;
    margin: 0 auto;
}
.result-section { 
    display: none;
}

/* nav elements */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 0;
}
.font-select {
  appearance: none;
  -webkit-appearance: none;
  color: var(--clr-primary);
  background: url('./images/icon-arrow-down.svg') no-repeat right center;
  padding-right: 2.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  outline: none;
}
.vert-dema {
    width: .1rem;
    height: 3.2rem;
    background-color: var(--clr-line);
    margin: 0 1.6rem;
}
.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle {
    margin-right: 1.2rem;
    --width: 4rem;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-block;
    cursor: pointer;
}
.toggle-input {
    display: none;
}
.toggle-input:checked ~ .toggle-fill {
    background: var(--clr-accent);
}
.toggle-fill {
    position: relative;
    border-radius: var(--border-radius);
    width: var(--width);
    height: var(--height);
    background: var(--clr-secondary);
    transition: background 0.2s ease;
}
.toggle-fill::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.3rem;
    transform: translateY(-50%);
    height:  calc(var(--height) - 0.5rem);
    width: calc(var(--height) - 0.5rem);
    border-radius: var(--border-radius);
    background: #fff;
    transition: transform 0.2s ease;
}
.toggle-input:checked ~ .toggle-fill::after {
    transform: translate(var(--height), -50%);
}

/* Search elements */
.search {
width: 100%;
position: relative;
}
.search input {
    background-color: var(--clr-input-bg);
    border: none;
    outline: none;
    border-radius: 1.6rem;
    color: var(--clr-primary);
    padding: 1.4rem 0 1.4rem 2.4rem;
    font-size: 1.6rem;
    width: 100%;
}
.search input:focus {
    border: 1px solid var(--clr-accent);
}
.error {
    border: 2px solid var(--clr-error); 
}
.search img {
    position: absolute;
    right: 2.4rem;
    top: 50%;
    transform: translateY(-50%);
}
.error-empty {
    color: var(--clr-error);
    font-size: 1.4rem;
    margin-top: .8rem;
    display: none;
}
.search-term {
    margin: 2.1rem 0 3.1rem 0;
    position: relative;
}
.search-term h1 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: .7rem;
}
.search-term p {
    font-size: 1.8rem;
    color: var(--clr-accent);
    letter-spacing: .2rem;
}
.play-icon {
    background-color: rgba(164, 69, 237, 0.25);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    font-size: 1.5rem;
    color: var(--clr-accent);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.play-icon:hover {
    background-color: rgba(164, 69, 237, 1);
    color: #fff;
}

/* Other elements */
ul {
    list-style: none;
}
ul li {
    padding-left: 2.4rem;
    position: relative;
    margin-bottom: 1.3rem;
}
ul li::before {
    content: '\2022';
    display: inline-block;
    position: absolute;
    left: 0;
    color: var(--clr-accent);
}
.noun, .verb {
    display: flex;
    align-items: center;
    gap: 1.9rem;
    margin-bottom: 3.1rem;
}
.noun h2, .verb h2 {
    font-size: 1.8rem;
    font-style: italic;
}
.horz-dema {
    background: #E9E9E9;
    height: 1px;
    flex: 1;
}
.meaning-section.noun-sect {
    margin-bottom: 3.3rem;
}
.meaning-section ul {
    font-size: 1.5rem;
    line-height: 2.4rem;
}
.meaning {
    color: var(--clr-secondary);
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}
.synonyms {
    font-size: 1.6rem;
    display: flex;
    margin-top: 2.4rem;
}
.syn-tag {
    margin-right: 2.4rem;
}
.syn-example {
    color: var(--clr-accent);
    font-weight: 700;
}
.example {
    color: var(--clr-secondary);
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin: 1.3rem 0 3.2rem 0;
}
.source-line {
    background: #E9E9E9;
    height: 1px;
    width: 100%;
    margin-bottom: 2.4rem;
}
.source p {
    color: var(--clr-secondary);
    font-size: 1.4rem;
    text-decoration: underline;
    margin-bottom: .8rem;
}
.links {
    display: flex;
    align-items: center;
    gap: .9rem;
}
.links a {
    color: var(--clr-primary);
    font-size: 1.4rem;
}
.disabled {
    opacity: 0.25;
}

/* laptop styles */
@media screen and (min-width: 768px) {
    .container {
        max-width: 73.7rem;
    }
    nav {
        padding: 0;
        margin: 5.8rem 0;
    }
    .font-select {
        cursor: pointer;
    }
    .search-term h1 {
        font-size: 6.4rem;
        margin-bottom: 1.1rem;
    }
    .search-term p {
        font-size: 2.4rem;
    }
    .play-icon {
        width: 7.5rem;
        height: 7.5rem;
        font-size: 2.1rem;
    }
    .noun h2, .verb h2  {
        font-size: 2.4rem;
    }
    .meaning-section ul {
        font-size: 1.8rem;
    }
    .meaning {
        font-size: 2rem;
        margin-bottom: 2.7rem;
    }
    .synonyms {
        font-size: 2rem;
        margin-top: 4.1rem;
    }
    .example {
        font-size: 1.8rem;
    }
    .source p {
        margin: 0;
    }
    .source-wrapper {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }
}